<div id="home" class="bg-slate-200 main">
  <nav class="max-w-screen-2xl flex p-4 justify-between mx-auto items-center">
    <div class="relative z-[200]">
      <a routerLink="/" class="flex items-center">
        <i class="fa-solid text-slate-800 fa-building-shield mr-2"></i>
        <span class="text-sm text-slate-800 font-semibold">Assignment</span>
      </a>
    </div>
    <div [style.width]="navStatus ? '100vw' : '0px'" (click)="toggleClass(list)"
      class="fixed z-50 filter1 h-full sm:none top-0 right-0"></div>
    <div #list
      class="max-sm:fixed max-sm:w-1/2 max-sm:top-0 max-sm:-right-full duration-100 max-sm:bg-slate-100 max-sm:h-[100vh] max-sm:shadow-md z-50">
      <ul
        class="flex max-sm:flex-col max-sm:h-full max-sm:w-full justify-center items-center max-sm:space-y-5">
        <li>
          <a routerLink="/" (click)="toggleClass(list)" class="m-1 p-2">Home</a>
        </li>
        <li>
          <a (click)="toggleClass(list)" routerLink="/signup" routerLinkActive="active" class="m-1 p-2">Signup</a>
        </li>
        <li>
          <a (click)="navigate('#contact'); toggleClass(list)" class="m-1 p-2">Contact</a>
        </li>
        <li>
          <a (click)="adminLogin(); toggleClass(list)" class="m-1 p-2">login</a>
        </li>
      </ul>
    </div>
    <div class="ml-2 block sm:hidden h-[30px] aspect-square my-auto z-50">
      <a (click)="toggleClass(list)" class="flex flex-col justify-around items-end h-full w-full">
        <div [class.open1]="navStatus" class="h-[5px] w-full bg-slate-800 rounded-full duration-300"></div>
        <div [class.open2]="navStatus" class="h-[5px] w-2/3 bg-slate-800 rounded-full duration-300"></div>
      </a>
    </div>
  </nav>
</div>
